IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.social {
    text-decoration: none;
  }

  ::-moz-selection { /* Code for Firefox */
      color: black;
      background: rgba(255, 255, 255, 0.5);
  }

  ::selection {
      color: black;
      background: rgba(255, 255, 255, 0.5);
  }

.whiteline {
  color: white;
}

.redheart {
  color: red;
}
